---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "O9/2023 - Present...",
    title: "Web developer",
    company: "Billtonic",
    description:
      "Designed and built a user-friendly billing management system, working on both front-end and back-end aspects to achieve a seamless and intuitive UI/UX for end-users.",
    link: "https://app.billtonic.com",
  },
  {
    date: "03/2023 - Present",
    title: "Web developer",
    company: "Freelance",
    description:
      "I transform local businesses and build personal brands by creating eye-catching landing pages aimed at growth and increasing sales. This includes continuous website monitoring and improvements. The service can also include logo design and content creation for social media.",
  },
  {
    date: "09/2023 - 03/2024",
    title: "Co-funder",
    company: "Saccess",
    description:
      "Developed a QR access management platform where I was responsible for delegating team tasks and handling the design and front-end development with a focus on creating an excellent UX/UI.",
      link: "https://saccess.netlify.app/",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
